* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 174, 125);
    position: relative;
    height: 100vh;
}

ul {
    list-style: none;
}

h1 {
    font-family: monospace;
}

input[type="text"] {
    background-color: wheat;
}

.App {
    background-color: rgb(208, 139, 105);
    border-radius: 10%;
    box-shadow: -10px 20px 30px 5px rgb(255, 158, 84);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    max-height: 100vh;
    max-width: 100vw;
    overflow: auto;

}

.inputNumRows,
.inputNumCols,
.App .userInputs .inputMat {
    width: 40px;
    height: 20px;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    border: solid 1px;
}

.inputNumRows {
    margin-bottom: 20px;
}

.solution {
    margin-top: 20px;
}

table {
    margin-top: 15px;
}

td {
    padding-right: 30px;
    padding-bottom: 15px;
}

.finalSolutionBox,
.step-container {
    padding: 15px 0px;
    border-top: 1px solid;
}