@import url("../css/darkButton.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
}

ul {
    list-style: none;
}

h1 {
    font-family: monospace;
}

button {
    border: none;
    padding: 2px 3px;
    background-color: transparent;
}

.App {
    border-radius: 10%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    max-height: 100vh;
    max-width: 100vw;
    overflow: auto;

}

.inputNumRows,
.inputNumCols,
.App .userInputs .inputMat {
    width: 40px;
    height: 20px;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    border: solid 1px;
}

.inputNumRows {
    margin-bottom: 20px;
}

.solution {
    margin-top: 20px;
}

table {
    margin-top: 15px;
}

td {
    padding-right: 30px;
    padding-bottom: 15px;
}

.finalSolutionBox,
.step-container {
    padding: 15px 0px;
    border-top: 1px solid;
}