* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 174, 125);
    position: relative;
    height: 100vh;
}

ul {
    list-style: none;
}

h1 {
    font-family: monospace;
}

input[type="text"] {
    background-color: wheat;
}

.App {
    background-color: rgb(208, 139, 105);
    border-radius: 10%;
    box-shadow: -10px 20px 30px 5px rgb(255, 158, 84);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
}

.inputNumRows,
.App .userInputs .inputMat {
    width: 40px;
    height: 20px;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    border: solid 1px;
}

.inputNumRows {
    margin-bottom: 20px;
}

.solution {
    margin-top: 20px;
}

.stateMatrix {
    margin-top: 20px;
    font-family: cursive;
}

.Row {
    position: relative;
    display: flex;
    margin-bottom: -1px;
}

.Row::before {
    position: absolute;
    left: -25px;
}

.Col {
    position: relative;
    /* margin: 2px; */
    padding: 2px 5px;
    border: 1px solid ;
}